* {
    box-sizing: border-box;
}

body {
    background-color: #FBE700;
}

h1 {
    text-align: center;
    margin: 0;
    background-color: #FBE700;
    padding: 1rem 0;
}

h2 {
    text-align: center;
    margin: 0;
    color: #0B28E8;
    margin-bottom: 1vh;
}

#game-area {
    height: 59vh;
    background-color: #d0eeff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Landing Page */
#intro-page {
    padding: 5vh 0;
    text-align: center;
}

#play-game-div {
    text-align: center;
}

.nav-buttons {
    border-color: #D23A06;
    border-radius: 35px;
    border-width: thick;
    font-size: 4vh;
    font-weight: bold;
    background: #FBE700;
    color: #0B28E8;
    text-shadow: 2.5px 2px #34C972;
}

#play-game {
    height: 9.5vh;
    width: 10rem;
    margin-top: 3vh;
}

#rules-btn {
    height: 11vh;
    width: 14rem;
    margin-top: -4vh;
}

/* Rules Page */
#rules-page>div {
    border: #0B28E8 2px dashed;
}

ul {
    padding-left: 0;
}

li {
    font-size: medium;
    color: #0B28E8;
    line-height: 3vh;
    font-size: 3vh;
    text-align: center;
    list-style-type: none;
}

/* Game Page */
#card-container {
    display: flex;
    width: 85%;
    height: 32vh;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.pile {
    border: 1px solid #0B28E8;
    width: 90px;
    height: 140px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: ivory;
}

#start-game {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border-color: #D23A06;
    border-radius: 50%;
    border-width: medium;
    font-size: 15px;
    font-weight: bold;
    background: #FBE700;
    color: #0B28E8;
}

#plus-minus-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: .5rem 0;
}

.guess-button {
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
}

.guess-button i {
    font-size: 3.8rem;
}

.green {
    color: #34C972;
}

.scores {
    font-size: 40px;
    margin: 0;
    color: #0B28e8;
}

.red {
    color: #D23A06;
}

#score-area {
    text-align: center;
    font-size: 18px;
    margin-top: 3vh;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    background-color: #0B28E8;
    height: 10vh;
    width: 100%;
    justify-content: space-evenly;
}

#footer-text {
    color: #FBE700;
    font-size: 4vh;
    text-shadow: 2px 2px #D23A06;
}

#facebook > a {
    list-style-type: none;
    color: #FBE700;
    font-size: 4vh;
    text-shadow: 2px 2px #D23A06;
}

#facebook > a:hover {
    color: #34C972;
}

.black {
    color: black;
}

/* Toggle */
.hide {
    display: none;
}